<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jagajalanbangkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".admin.detail.screen.DetailActivity"></activity>
        <activity android:name=".admin.laporan.screen.LaporanActivity" />
        <activity android:name=".admin.home.screen.AdminHomeActivity" />
        <activity android:name=".riwayat.screen.RiwayatActivity" />
        <activity android:name=".riwayat.screen.RiwayatActivity" />
        <activity android:name=".splashscreen.screen.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".daftar.screen.DaftarActivity" />
        <activity android:name=".login.screen.LoginActivity" />
        <activity
            android:name=".home.screen.HomeActivity"
            android:launchMode="singleTop" />
        <activity android:name=".lapor.screen.LaporActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDPrUyahZHrP1p16yY4_vOi19i_P_JLHVs" />
    </application>

</manifest>